/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */
/* Start to customize Reverie */
/*a, a:visited, a:hover, a:visited:hover {
	@include transition(all 100ms linear);
}*/
figure {
  margin: 0 auto 1.25rem;
}

figure img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

img.aligncenter {
  display: block;
  margin: 18px auto;
}

.gallery dt, .gallery dl {
  display: inline-block;
}
.gallery dl {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem;
}

figure.figure {
  margin: 0 auto;
  display: table;
}
figure.figure figcaption {
  font-size: 0.875rem;
  line-height: 1.4;
  font-style: italic;
  padding: 8px 10px;
  color: #999;
  margin-bottom: 1.25rem;
  display: table-caption;
  caption-side: bottom;
}

figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}

.footer-widget {
  background-color: #eee;
}

body > header.contain-to-grid {
  margin-bottom: 2rem;
  max-width: 100%;
  padding-bottom: 0;
}

#content {
  background-color: #fff;
  border: 1px solid #ddd;
}

.index-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

span.author,
time {
  font-size: 0.9375rem;
  color: #999;
}
span.author a,
time a {
  color: #999;
  font-weight: bold;
}
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
  color: #444;
}

.entry-author {
  background-color: #fbfbfb;
  border: none;
  padding: 3.125rem 5rem;
  margin: 3.125rem -0.9375rem;
}
.entry-author .avatar {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}
.entry-author h4 a {
  color: #999;
}
.entry-author h4 a:hover, .entry-author h4 a:focus {
  color: #444;
}
.entry-author p {
  color: #bbb;
}

.post header,
.page header {
  margin-bottom: 1.25rem;
}

.entry-tags {
  color: #999;
  font-size: 0.9375rem;
}
.entry-tags a {
  color: #999;
}
.entry-tags a:hover, .entry-tags a:focus {
  color: #444;
}

.page-numbers {
  color: #999;
  display: block;
  min-height: 1.5rem;
  margin-left: -0.3125rem;
}
.page-numbers li {
  height: 1.5rem;
  color: #222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
.page-numbers li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999;
  border-radius: 3px;
}
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
.page-numbers li.unavailable a {
  cursor: default;
  color: #999;
}
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
.page-numbers li.current a {
  background: #008CBA;
  color: #fff;
  font-weight: bold;
  cursor: default;
}
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #008CBA;
}
.page-numbers li {
  float: left;
  display: block;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.page-numbers li {
  margin-left: 0.5rem;
}

.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
.page-numbers li span.current {
  background: #008CBA;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
ol.commentlist p {
  font-size: 0.9375rem;
  line-height: 1.5;
}
ol.commentlist ul.children {
  margin-left: 4rem;
}
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
ol.commentlist li .comment-author img {
  float: left;
  margin: 0 1em 0 0;
}
ol.commentlist li .author-meta {
  display: inline-block;
}
ol.commentlist li .author-meta cite.fn {
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta time a {
  color: #ccc;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
ol.commentlist li .author-meta .comment-edit-link {
  color: #bbb;
  font-size: 0.875rem;
}
ol.commentlist li section.comment {
  margin-left: 4rem;
  margin-bottom: 2rem;
}
ol.commentlist li section.comment a.comment-reply-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #bbb;
}
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
  color: #444;
}

#sidebar {
  margin-top: 1.25rem;
}

#sidebar .panel, .footer-widget .panel {
  border: none;
  background-color: #eee;
  padding: 1.5rem 1.875rem;
}
#sidebar .panel a, .footer-widget .panel a {
  color: #999;
  font-size: 0.9375rem;
}
#sidebar .panel a:hover, #sidebar .panel a:focus, .footer-widget .panel a:hover, .footer-widget .panel a:focus {
  color: #444;
}
#sidebar ul, .footer-widget ul {
  list-style-type: none;
  margin-left: 0;
}
#sidebar .widget h4, .footer-widget .widget h4 {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  color: #888;
  font-weight: 600;
}

footer.full-width {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 3rem;
}
footer.full-width p {
  font-size: 0.875rem;
}
footer.full-width a {
  color: #666;
  font-size: 0.9375rem;
}
footer.full-width a:hover, footer.full-width a:focus {
  color: #444;
}
footer.full-width .love-reverie {
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
}

.admin-bar > .fixed {
  margin-top: 2rem;
}

.f-topbar-fixed > .container {
  margin-top: 2rem;
}

@media only screen {
  .entry-author .avatar {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 40.063em) {
  #content {
    padding: 3.125rem;
  }

  .entry-author {
    margin: 3.125rem -3.125rem;
  }
}
@media only screen and (min-width: 64.063em) {
  #sidebar {
    padding-left: 1.875rem;
    padding-right: 0;
    margin-top: 0;
  }

  .footer-widget {
    margin-top: 3rem;
    padding-top: 2rem;
  }
}
/* mjw custom styles for antigua bike trails */
/* colors */
/* odd little helpers */
.margin-top-1 {
  margin-top: 1em;
}

.padding-top-1 {
  padding-top: 1em;
}

.padding-bottom-1 {
  padding-bottom: 1em;
}

.barry-padded {
  padding: 1em 1em 0 1em;
}

.barry-padded-sides {
  padding: 0 1em 0 1em;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background: #f6f6f6;
}

.bg-green {
  background: #8dc63f;
}

.overlay {
  position: absolute;
  top: 1rem;
  left: 2rem;
  height: 100%;
  font-size: 1.5rem;
  background-color: rgba(36, 174, 221, 0.5);
  color: white;
}

.overlay-content {
  padding: 2rem;
  overflow: hidden;
  font-size: 2rem;
}

body {
  background-color: #fff;
  background-image: url(../antigua-assets/bg-clouds.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway',sans-serif;
}

body > header.contain-to-grid {
  margin-bottom: 0;
}

.contain-to-grid {
  background: white;
}

.trailbike-header-tagline {
  margin-top: 2.2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

.trailbike-header-phone {
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

.header {
  margin-bottom: none;
}

.home-3tours-block {
  min-height: 240px;
}
.home-3tours-block p {
  line-height: 15rem;
}
.home-3tours-block a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  padding: 100px 120px;
  /* height: 279px; */
  /* width: 279px; */
  background: url(../antigua-assets/island.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.home-3tours-block a:hover {
  text-decoration: none;
  color: #ddd;
}

.home-strapline {
  font-size: 2.2rem;
  line-height: 3rem;
  padding: 1rem 0 1rem 0;
}

.home-bottom-block {
  margin: 2em 1em 2em 1em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Quicksand', sans-serif;
}

footer.full-width {
  background-color: #585756;
  border: none;
  padding-top: 3rem;
}

footer.inline-list ul li {
  list-style: none;
}

/* nav bar customisation */
.top-bar {
  background: none;
}

.top-bar .name h1 a {
  color: black;
}

.top-bar-section ul li {
  background: none;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  color: white;
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: none;
    overflow: visible;
  }

  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }

  .top-bar:after {
    clear: both;
  }

  .top-bar .toggle-topbar {
    display: none;
  }

  .top-bar .title-area {
    float: left;
  }

  .top-bar .name h1 a {
    width: auto;
  }

  .top-bar input,
  .top-bar .button,
  .top-bar button {
    font-size: 0.875rem;
    position: relative;
    top: 7px;
  }

  .top-bar.expanded {
    background: #333333;
  }

  .contain-to-grid .top-bar {
    max-width: 71.25rem;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important;
  }

  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }

  .top-bar-section ul li {
    float: left;
  }

  .top-bar-section ul li > a {
    font-size: 0.9rem;
    color: white;
  }

  .top-bar-section ul li.active {
    float: left;
    background-image: url("../antigua-assets/nav-active.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-width: 10px;
  }

  .top-bar-section ul li .js-generated {
    display: none;
  }

  .top-bar-section li.hover > a:not(.button) {
    background: none;
    color: white;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: none;
    text-transform: uppercase;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: none;
    /*image?*/
    background-image: url("../antigua-assets/nav-active.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    color: white;
    background: none;
    /*image?*/
    background-image: url("../antigua-assets/nav-active.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    text-transform: uppercase;
  }

  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: none;
    /*image?*/
  }

  .top-bar-section .has-dropdown > a {
    padding-right: 35px !important;
  }

  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 22.5px;
  }

  .top-bar-section .has-dropdown.moved {
    position: relative;
  }

  .top-bar-section .has-dropdown.moved > .dropdown {
    display: block;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
  }

  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1rem;
    margin-top: -1px;
    right: 5px;
    line-height: 1.2;
  }

  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }

  .top-bar-section .dropdown li a {
    color: white;
    line-height: 45px;
    white-space: nowrap;
    padding: 12px 15px;
    background: #333333;
  }

  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    color: white;
    background: #333333;
  }

  .top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
    color: white;
    background: #272727;
  }

  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #333333;
  }

  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }

  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: none;
    clear: none;
    height: 45px;
    width: 0;
  }

  .top-bar-section .has-form {
    background: #333333;
    padding: 0 15px;
    height: 45px;
  }

  .top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
  }

  .top-bar-section .right li .dropdown li .dropdown {
    right: 100%;
  }

  .top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
  }

  .top-bar-section .left li .dropdown li .dropdown {
    left: 100%;
  }

  .no-js .top-bar-section ul li:hover > a {
    background: #272727;
    color: white;
  }

  .no-js .top-bar-section ul li:active > a {
    background: #008cba;
    color: white;
  }

  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
  }
}
#content {
  border: none;
}
