/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
// @import "normalize";

// Global Foundation Settings
@import "settings";

// Tweak the mixin for WordPress, this might create some extra CSS in additional to app.css
@import "foundation/components/pagination";

// Reverie comes with a standalone Foundation stylesheet already
// @import "foundation";

// Load some Compass magic, note you will need to install Compass first
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

/* Start to customize Reverie */

// add transition effect
/*a, a:visited, a:hover, a:visited:hover {
	@include transition(all 100ms linear);
}*/

// add some margin for embeds in post
figure {
	margin: 0 auto $panel-margin-bottom;
}

// Add class for images
figure img {
	@include border-radius(5px);
}

img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Fix gallery images display
.gallery {
	dt, dl {
		display: inline-block;
	}
	dl {
		margin-left: rem-calc(9);
		margin-right: rem-calc(9);
	}
}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: table;
	figcaption {
		font-size: rem-calc(14);
		line-height: 1.4;
		font-style: italic;
		padding: 8px 10px;
		color: #999;
		margin-bottom: $panel-margin-bottom;
		display: table-caption;
		caption-side: bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}

.footer-widget {
	background-color: #eee;
}

body > header.contain-to-grid {
	margin-bottom: rem-calc(32);
	max-width: 100%;
	padding-bottom: 0;
}

#content {
	background-color: #fff;
	border: 1px solid #ddd;
}

.index-card {
	border-bottom: 1px solid #ddd;
	padding-bottom: rem-calc(32);
	margin-bottom: rem-calc(32);
}

span.author,
time {
	font-size: rem-calc(15);
	color: #999;
	a {
		color: #999;
		font-weight: bold;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}

// define content padding for later use
$content-padding: rem-calc(50);

.entry-author {
	background-color: #fbfbfb;
	border: none;
	padding: rem-calc(50) rem-calc(80);
	margin: rem-calc(50) (-($column-gutter/2));
	.avatar {
		margin-right: rem-calc(40);
		margin-bottom: rem-calc(24);
	}
	h4 {
		a {
			color: #999;
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	p {
		color: #bbb;
	}
}

.post header,
.page header {
	margin-bottom: rem-calc(20);
}

.entry-tags {
	color: #999;
	font-size: rem-calc(15);
	a {
		color: #999;
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
}


// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers {
	color: #999;
	@include pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  @include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(8);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

.avatar {
	@include border-radius(50%);
	float: left;
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	p {
		font-size: rem-calc(15);
		line-height: 1.5;
	}
	ul.children {
		margin-left: rem-calc(64);
	}
	li {
		list-style: none;
		margin-bottom: 2em;
	
		.comment-author img {
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
			cite.fn {
				font-style: normal;
				font-weight: 600;
				margin-right: rem-calc(8);
			}
			time a {
				color: #ccc;
				font-size: rem-calc(14);
				margin-right: rem-calc(8);
			}
			.comment-edit-link {
				color: #bbb;
				font-size: rem-calc(14);
			}
		}
		section.comment {
			margin-left: rem-calc(64);
			margin-bottom: rem-calc(32);
			a.comment-reply-link {
				font-size: rem-calc(14);
				font-weight: 600;
				color: #bbb;
				&:hover, &:focus {
					color: $body-font-color;
				}
			}
		}
	}
}



// Start the sidebar
#sidebar {
	margin-top: rem-calc(20);
}

#sidebar, .footer-widget {
	.panel {
		border: none;
		background-color: #eee;
		padding: rem-calc(24) rem-calc(30);
		a {
			color: #999;
			font-size: rem-calc(15);
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	.widget {
		h4 {
			text-transform: uppercase;
			font-size: rem-calc(16);
			padding-bottom: rem-calc(16);
			border-bottom: 1px solid #ddd;
			color: #888;
			font-weight: 600;
		}
	}
}



// Start the footer
footer.full-width {
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding-top: rem-calc(48);
	p {
		font-size: rem-calc(14);
	}
	a {
		color: #666;
		font-size: rem-calc(15);
		&:hover, &:focus {
			color: $body-font-color;
		}
	}
	.love-reverie {
		border-top: 1px solid #ccc;
		padding-top: rem-calc(24);
	}
}

// Fix admin bar issue, by bybe on Github
.admin-bar > .fixed {
	margin-top: rem-calc(32);
}

.f-topbar-fixed > .container {
	margin-top: rem-calc(32);
}

@media #{$small-up} {
	.entry-author {
		.avatar {
			margin-bottom: rem-calc(20);
		}
	}
}

@media #{$medium-up} {
	#content {
		padding: $content-padding;
	}
	.entry-author {
		margin: rem-calc(50) (-$content-padding);
	}
}

@media #{$large-up} {
	#sidebar {
		padding-left: $column-gutter;
		padding-right: 0;
		margin-top: rem-calc(0);
	}
	.footer-widget {
		margin-top: rem-calc(48);
		padding-top: rem-calc(32);
	}
}
/* mjw custom styles for antigua bike trails */

/* colors */

$grey : #f6f6f6;
$green : #8dc63f;

/* odd little helpers */
.margin-top-1{ margin-top: 1em; }
.padding-top-1{ padding-top: 1em; }
.padding-bottom-1{ padding-bottom: 1em; }
.barry-padded{ padding: 1em 1em 0 1em; } 
.barry-padded-sides{ padding: 0 1em 0 1em; } 
.bg-white { background-color: white; }
.bg-grey { background: $grey; }
.bg-green { background: $green; }

.overlay{
	position: absolute;
	top: 1rem;
	left: 2rem;
	height: 100%;
	font-size: 1.5rem;
	background-color: rgba(36,174,221,0.5);
	color: white;
}
.overlay-content{
	padding: 2rem;
	overflow: hidden;
	font-size: 2rem;
}

body {
	background-color:#fff;
	background-image: url(../antigua-assets/bg-clouds.png);
	background-repeat: no-repeat;
	background-size:cover;
	font-family: 'Raleway',sans-serif;
}
body > header.contain-to-grid {
	margin-bottom:0;
}
.contain-to-grid {
	background: white;
}
.trailbike-header-tagline {
	margin-top: 2.2rem;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
}
.trailbike-header-phone {
	margin-top: 2rem;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
}
.header{
	margin-bottom:none;
}
.home-3tours-block{
	min-height:240px;
	p{
		line-height:15rem;
	}
	a{
		font-size:2rem;
		text-decoration:none;
		color:white;
		padding: 100px 120px;
		/* height: 279px; */
		/* width: 279px; */
		background: url(../antigua-assets/island.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	a:hover{
		text-decoration:none;
		color:#ddd;
	}
}
.home-strapline{
	font-size: 2.2rem;
	line-height:3rem;
	padding:1rem 0 1rem 0;
}
.home-bottom-block{
	margin: 2em 1em 2em 1em;
	font-size:1.5rem;
	line-height:2rem;
	font-family: 'Quicksand', sans-serif;
}
footer.full-width {
	background-color: #585756;	
	border: none;
	padding-top: 3rem;
}

footer.inline-list ul li {
	list-style:none;
}

/* nav bar customisation */
.top-bar{
	background:none;
}
.top-bar .name h1 a {
	color: black;
}

.top-bar-section {
	ul li {
		background: none;
	}
	li:not(.has-form) a:not(.button) {
		background: none;
		color:white;
	}
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: none;
    overflow: visible;
  }
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }
  .top-bar:after {
    clear: both;
  }
  .top-bar .toggle-topbar {
    display: none;
  }
  .top-bar .title-area {
    float: left;
  }
  .top-bar .name h1 a {
    width: auto;
  }
  .top-bar input,
  .top-bar .button,
  .top-bar button {
    font-size: 0.875rem;
    position: relative;
    top: 7px;
  }
  .top-bar.expanded {
    background: #333333;
  }

  .contain-to-grid .top-bar {
    max-width: 71.25rem;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important;
  }
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
  .top-bar-section ul li {
    float: left;
  }
  .top-bar-section ul li>a{
  	font-size:0.9rem;
  	color:white;
  }
  .top-bar-section ul li.active {
    float: left;
    background-image:url('../antigua-assets/nav-active.png');
    background-repeat: no-repeat;
	background-position: 50% bottom;
	background-width:10px;
  }
  .top-bar-section ul li .js-generated {
    display: none;
  }
  .top-bar-section li.hover > a:not(.button) {
    background: none;
    color: white;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: none;
    text-transform:uppercase;
  }
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: none; /*image?*/
    background-image:url('../antigua-assets/nav-active.png');
    background-repeat: no-repeat;
	background-position: 50% bottom;
  }
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    color: white;
    background: none; /*image?*/
    background-image:url('../antigua-assets/nav-active.png');
    background-repeat: no-repeat;
	background-position: 50% bottom;
	text-transform:uppercase;
  }
  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: none; /*image?*/
  }
  .top-bar-section .has-dropdown > a {
    padding-right: 35px !important;
  }
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 22.5px;
  }
  .top-bar-section .has-dropdown.moved {
    position: relative;
  }
  .top-bar-section .has-dropdown.moved > .dropdown {
    display: block;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
  }
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1rem;
    margin-top: -1px;
    right: 5px;
    line-height: 1.2;
  }
  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }
  .top-bar-section .dropdown li a {
    color: white;
    line-height: 45px;
    white-space: nowrap;
    padding: 12px 15px;
    background: #333333;
  }
  .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    color: white;
    background: #333333;
  }
  .top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
    color: white;
    background: #272727;
  }
  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #333333;
  }
  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: none;
    clear: none;
    height: 45px;
    width: 0;
  }
  .top-bar-section .has-form {
    background: #333333;
    padding: 0 15px;
    height: 45px;
  }
  .top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
  }
  .top-bar-section .right li .dropdown li .dropdown {
    right: 100%;
  }
  .top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
  }
  .top-bar-section .left li .dropdown li .dropdown {
    left: 100%;
  }

  .no-js .top-bar-section ul li:hover > a {
    background: #272727;
    color: white;
  }
  .no-js .top-bar-section ul li:active > a {
    background: #008cba;
    color: white;
  }
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
  }
}
#content {
	border: none;
}
